body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('assets/background.webp');
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 24px;
    color: white;
}

#facilityInfo {
    background-color: rgba(0, 0, 0, 0.5);
}
